<%= form_with model: user do |form| %>
 <% if user.errors.any? %>
  <% user.errors.full_messages.each do |message| %>
    <p> <%= message %> </p>
  <% end %>
<% end %>

<div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
</div>

<div>
     <%= form.label :email %><br>
    <%= form.text_field :email %>
</div>

<div> 
    <%= form.label :password %><br>
    <%= form.text_field :password %>
</div>

<div>
    <%= form.label :phone %><br>
    <%= form.text_field :phone %>
</div>


<div>
    <%= form.label :department_id %><br>
    <%= form.select  :department_id ,  options_for_select(Department.ids)%>
    
</div>



<div>
      <%= form.select :role, options_for_select(['student','teacher', 'admin'], @user.role) %>
</div>


<div>
    <%= form.submit %>
</div>

<% end %>