<%= form_with model: course do |form| %>
<div>
    <%= form.label :course_name %><br>
    <%= form.text_field :course_title %>
</div>

<div>
     <%= form.label :course_code %><br>
    <%= form.text_field :course_code %>
</div>


<div>
    <%= form.label :department_id %><br>
    <%= form.select  :department_id ,  options_for_select(Department.ids)%>
    
</div>

<div>
    <%= form.submit %>
</div>

<% end %>